@font-face {
  font-family: 'OpenSans';
  font-weight: normal;
  font-style: normal;
  src: url('./fonts/OpenSans/OpenSans-VariableFont_wdth\,wght.ttf') format('truetype'),;
}

@font-face {
  font-family: 'OpenSans';
  font-weight: 600;
  font-style: normal;
  src: url('./fonts/OpenSans/static/OpenSans-SemiBold.ttf');
}

@font-face {
  font-family: 'OpenSans';
  font-weight: bold;
  font-style: normal;
  src: url('./fonts/OpenSans/static/OpenSans-Bold.ttf');
}

@font-face {
  font-family: 'Cormorant';
  font-weight: normal;
  font-style: normal;
  src: url('./fonts/Cormorant/Cormorant-VariableFont_wght.ttf') format('truetype'),;
}

@font-face {
  font-family: 'Cormorant';
  font-weight: bold;
  font-style: italic;
  src: url('./fonts/Cormorant/static/Cormorant-BoldItalic.ttf') format('truetype'),;

}


:root {
  --main-bg-color: #1D2F30;
  --primary-green: #BAE249;
  --dark: #0B1919;
  --green-text: #506829;
  --green-hover: #91AC46;
  --green-active: #688B05;
  --green-focus: #83A440;
  --gray: #899D9D;
}

h1 {
  font-size: 60px;
}

h2 {
  font-size: 48px;
  font-style: italic;
}

h3 {
  font-size: 24px
}

* {
  padding: 0;
  margin: 0;
}

body {
  background-color: var(--main-bg-color);
  font-family: 'OpenSans';
}

a {
  text-decoration: none;
  color: white;

}
.header {
  z-index: 2;
  position: sticky;
  top: 0;
  background-color: var(--main-bg-color);
}
.header__inner{
  font-size: 16px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header__logo {
  display: flex
}

.header__list {
  margin: 0;
  padding: 0;
  display: flex;
  list-style: none;
  gap: 64px;
}

.header__menu-link {
  transition: ease .2s;

}

.header__menu-link:hover{
  color: var(--primary-green);
}

.header__menu-link:active {
  color: var(--green-hover);
}

.header__buttons {
    display: flex;
    gap: 64px;
}

.header__buttons__item {
  transition: ease .2s;

}

.header__buttons__item:hover {
  filter: brightness(80%);
}

.header__buttons__item:active {
  filter: brightness(60%);

}

.logo {
  width: 70px;
  height: 70px;
}

.logo-img {
  width: inherit;
  height: inherit;
}

.hero {
  width: 100%;
  height: 550px;
  background-image: url('./img/hero.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  align-items: center;
}

.shade {
  z-index: 0;
  width: inherit;
  height: inherit;
  position: absolute;
  background-color: #1d2f308a;

}
.hero__inner {
  display: flex;
  flex-direction: column;
  gap: 16px;
  z-index: 0;
}

.text {
  font-family: 'OpenSans';
  line-height: 170%;
}

.text-header {
  font-family: 'Cormorant';
}

.hero__text-header, .hero__text {
  width: fit-content;
}

.text, .text-header {
  color: white;
  word-break: keep-all;
}

.arrow {
  display: flex;
  align-items: center;
  gap: 8px;
  transition: ease .2s;
}

.arrow:hover {
  filter: brightness(80%);
}

.arrow:active {
  filter: brightness(60%);

}

.arrow-text {
  color: var(--primary-green);
}



.article__arrow-img.arrow-img {
  background-image: url('./img/Arrow\ dark.svg');
}

.text-dark {
  color: var(--dark);
}

.arrow-img {
  width: 43px;
  height: 22px;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  background-image: url('./img/Arrow\ 1.svg') ;
}

.cards {
  display: flex;
  flex-direction: column;
}

.cards__inner {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.cards__pagination {
  margin-top: 20px;
  align-self: center;
}

.card {
  width: 255px;
  display: flex;
  flex-direction: column;
}

.card__info {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  border: 1px solid #0B1919;
  padding: 16px;
}

.card__text {
  margin-top: 8px;
  color: #899D9D;
}

.button {
  font-family: 'OpenSans';
  padding:  10.5px 28.5px  10.5px 28.5px ;
  cursor: pointer;
  transition: ease .2s;

}

.card__button {
  margin-top: 16px;
  color: var(--primary-green);
  background-color: #b9e24900;
  border: 1px solid var(--primary-green);

}

.card__button:hover {
  background-color: var(--primary-green);
  color: black;

}

.card__button:active {
  background-color: #688B05;
  border: 1px solid #688B05;

}

.card__button:disabled {
  border: 1px solid var(--gray);
  color: var(--gray)
}

.card__button:hover:disabled {
  border: 1px solid var(--gray);
  color: var(--gray)
}

.cards__pagination {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
  
}

.arrow-pag {
  width: 25px;
  height: 20px;
  border: none;
  background: transparent;
  background-image: url('./img/Arrow\ 2.svg');
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  cursor: pointer;
  transition: ease .2s;
}

.arrow-pag:hover {
  filter: brightness(0) saturate(100%) invert(100%) sepia(25%) saturate(5181%) hue-rotate(17deg) brightness(96%) contrast(84%);

}

.arrow-pag:active {
  filter: brightness(0) saturate(100%) invert(100%) sepia(25%) saturate(5181%) hue-rotate(17deg) brightness(60%) contrast(84%);
}

.arrow-pag-reverse {
  transform: rotate(180deg);
}

.pag-info {
  font-size: 24px;
  font-family: 'Cormorant';
  color: white;
}

.article__text-header {
  margin-bottom: 30px;
}

.article__inner {
  display: flex;
  justify-content: space-between;
}

.article__card {
  background-color: var(--primary-green);
  padding: 16px;
}

.article__arrow {
  margin: auto 0 0 0;
  transition: ease .2s;
}

.article__arrow:hover {
  filter: invert(70%) sepia(69%) saturate(6089%) hue-rotate(47deg) brightness(88%) contrast(96%);
}

.article__arrow:active {
  filter: invert(70%) sepia(69%) saturate(6089%) hue-rotate(47deg) brightness(1%) contrast(96%);


}

.article__text-header {
  margin-bottom: 8px;
}

.article__text {
  color: var(--green-text);
  margin-bottom: 10px;
  
}

.article__img {
  width: 825px;
}


.form-message {
  width: 100%;
  height: 463px;
  background-image: url('./img/form.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 20% 75%;
  display: flex;
  align-items: center;
}
.form-message__inner {
  z-index: 0;
  display: flex;
  flex-direction: column;
  align-items: flex-start;

}

.form-message__text {
  width: fit-content;
}

.form-message__info {
  margin-bottom: 24px;
}

.form-message__input {
  margin-bottom: 24px;
  height: 45px;
  width: 450px;
  padding-left: 16px;
  font-size: 16px;
  font-family: 'OpenSans';
  font-weight: 600;
  border: none;
  transition: ease .2s;
}

.form-message__input:hover::placeholder {
  color: white;

}

.form-message__input:hover {
  background-color: var(--gray);

}

.form-message__input:focus {
  background-color: var(--gray);
  color: var(--dark);
}

.form-message__button {
  background-color: var(--primary-green);
  border: none;
  font-weight: bold;
}

.form-message__button:hover {
  background-color: var(--green-hover);
}

.form-message__button:active {
  background-color: var(--green-active);
}

.footer {
  display: flex;
  flex-direction: column;
}

.footer__social {
  background-color: var(--dark);
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 18px;
  gap: 30px;
}

.social__item {
  width: 24px;
  height: 24px;
  transition: ease-out .2s;
  


}

.social__item:nth-child(1){
  background-image: url('./img/Frame-3.svg');
}

.social__item:nth-child(2){
  background-image: url('./img/Frame-2.svg');
}

.social__item:nth-child(3){
  background-image: url('./img/Frame.svg');
}

.social__item:nth-child(4){
  background-image: url('./img/Frame-1.svg');
}

.social__item:hover {
  filter: brightness(0) saturate(100%) invert(100%) sepia(25%) saturate(5181%) hue-rotate(17deg) brightness(90%) contrast(84%);
}

.social__item:active {
  filter: brightness(0) saturate(100%) invert(100%) sepia(25%) saturate(5181%) hue-rotate(17deg) brightness(60%) contrast(84%);
}

.copyright {
  align-self: center;
  color: var(--gray);
}

.text-bold {
  font-weight: bold;
}

.mg-lr-165px {
  margin-right: 8vw;
  margin-left: 8vw;
}

.mg-top-60px {
  margin-top: 60px;
}

:focus-visible {
  outline:  2px solid var(--green-focus);
  outline-offset: 2px;

}

@media (max-width: 825px) {
  .header__list {
    display: none;
  }
}

@media (max-width: 1000px) {
  .article__inner {
    flex-direction: column;
    align-items: center;
  }
}

@media (max-width: 610px) {
  .cards__inner {
    flex-direction: column;
    gap: 20px;
    justify-content: center;
    align-items: center;
  }
}

@media (max-width: 500px) {
  .mg-lr-165px {
    margin-left: 32px;
    margin-right: 32px;
  }
  .hero__text-header{
    font-size: 48px;
  }
  .text-header {
    width: fit-content;
  }
  .hero__text {
    display: none;
  }
  .header__inner {
    gap: 50px;
  }
  .header__list {
    display: none;
    justify-content: space-between;
  }
  .header__buttons {
    gap: 10px;
  }
  .article__inner {
    flex-direction: column;
    align-items: center;
  }
  .article__img {
    width: 287px;
    height: 250px;
  }

  .text {
    width: fit-content;
  }

  .form-message__input {
    width: fit-content;
  }
}
@media (max-width: 440px) {
  .form-message__text {
    display: none;
  }
}
