@font-face {
  font-family: 'Muller';
  font-weight: normal;
  font-style: normal;
  src: url('./fonts/muller/MullerRegular.ttf');
}

@font-face {
  font-family: 'Muller';
  font-weight: bold;
  font-style: normal;
  src: url('./fonts/muller/MullerBold.ttf')
}

@font-face {
  font-family:'RussoOne';
  font-weight: bold;
  src: url('./fonts/russo/RussoOne-Regular.ttf');
}

:root {
  --primary: #46F4DB;
  --primary-active: #57D272;
  --red: #D13130;
  --grey-light: #EDEDF2;
  --gray-middle: #95959D;
}

*{
  margin: 0;
  padding: 0;
}

h1 {
  font-family: 'RussoOne';
  font-weight: bold;
}

h2 {
  font-family: 'RussoOne';
  font-weight: bold;
  font-size: 60px;
}

body{
  background-color: white;
  font-family: 'Muller';
}

.list{
  display: flex;
  list-style: none;
  gap: 32px;

}
.menu-link {
  text-decoration: none;
  color: black;
  font-family: 'Muller';
  font-weight: bold;
  font-size: 20px;
  transition: ease .2s;
}
.button {
  font-family: 'Muller';
  font-weight: bold;
  font-size: 20px;
  border-radius: 77px;
  border: none;
  transition: ease .2s;
  padding: 25px 80px 25px 80px;
}

.logo {
  width: 100px;
  height: 40px;
  background-repeat: no-repeat;
  background-size: contain;
  background-image: url('./img/Vector.svg');
}

.mg-lr {
  margin-left: 320px;
  margin-right: 320px;
}

.gradient-box {
  padding: 5px;
  border-radius: 77px;
  background: linear-gradient(180deg, rgba(70,244,219,1) 27%, rgba(87,210,114,1) 100%);

}

.hero__buttons__item.button--dark-bg {
  color: white;
  background: black;
}

/* Header */

.header{
  z-index: 2;
  top: 0;
  position: sticky;
  background-color: white;
}

.header__logo {
  margin-right: 64px;
}

.header__inner {
  display: grid;
  grid-template-columns: max-content 1fr 1fr;
  align-items: center;
  padding: 20px 0 20px 0;
}

.header__button {
  background-color: black;
  padding: 17px 43px 17px 43px;
  color: white;
  justify-self: end;
}

.header__button:hover {
  background-color: var(--primary);
  color: black;
}

.header__button:active {
  background-color: var(--primary-active);
}



.header__menu-link:hover{
  color: var(--primary);
}

.header__menu-link:active{
  color: var(--primary-active);
}

/* Hero */
.hero {
  display: flex;
  align-items: center;
  width: 100%;
  height: 680px;
  background-image: url('./img/hero.png');
}

.hero__inner {
  display: flex;
  flex-direction: column;
  gap: 36px;
}

.hero__buttons {
  display: flex;
  gap: 32px;
}

.hero__buttons__item {
  padding: 25px 54px 25px 54px;
  background: linear-gradient(180deg, rgba(70,244,219,1) 27%, rgba(87,210,114,1) 100%);

}

.hero__buttons__item:hover {
  background: var(--primary);
}

.hero__buttons__item:active {
  background: var(--primary-active);
}

.hero__buttons__item.button--dark-bg:hover {
  background-color: rgba(0, 0, 0, 0);
  color: black;
}

.gradient-box:active {
  background: var(--primary-active);
  transition: ease .2s;

}



.hero__text-header {
  width: 651px;
  font-size: 70px;
  color: white;
}

/* Auction */
.section__auction {
  display: flex;
  flex-direction: column;
}

.auction__block {
  display: flex;
  align-items: center;
  gap: 16px;
}

.auction__status {
  padding: 9.5px 15px 9.5px 15px;
  display: flex;
  gap: 5px;
  align-items: center;
  border: 2px solid var(--red);
  border-radius: 77px;
  color: var(--red);
  font-weight: bold;
}
.dot {
  width: 6px;
  height: 6px;
  border-radius: 100px;
  background-color: var(--red);
}

.auction__inner {
  display: flex;
  gap: 32px;
}

.auction-sticker {
  width: 460px;
  height: 460px;
}

.sticker-info {
  display: flex;
  flex-direction: column;
  gap: 32px;
}
.sticker-user {
  width: fit-content;
  display: flex;
  align-items: center;
  background-color: var(--grey-light);
  padding: 11px 16px 11px 16px;
  border-radius: 23px;
  gap: 16px;
}

.sticker-name {
  font-size: 48px;
  font-weight: normal;
}

.sticker__block {
  display: flex;
  gap: 32px;
}

.sticker-cost {
  width: fit-content;
  display: flex;
  flex-direction: column;
  padding: 32px;
  background-color: var(--grey-light);
  border-radius: 23px;

}

.auction-timer {
  width: fit-content;
  display: flex;
  align-items: center;
  background-color: black;
  padding: 32px;
  border-radius: 23px;
  color: white;
  font-weight: bold;
  gap: 44px;
}

.auction-timer__inner {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.auction__button {
  position: relative;
  z-index: 1;
  width: fit-content;
  padding: 25px 74px 25px 74px;
  background: var(--primary);

}
.auction__button:before {
  content: '';
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(180deg, rgba(70,244,219,1) 27%, rgba(87,210,114,1) 100%);
  border-radius: 77px;
  transition: ease .2s;
  opacity: 0;
}
.auction__button:hover::before {
  opacity: 1;
}

.auction__button:active::before{
  transition: ease .2s;

  background: var(--primary-active);
}

.card {
  display: flex;
  flex-direction: column;
  border-radius: 40px;

  width: fit-content;
}

.card-info {
  display: flex;
  flex-direction: column;
  background-color: black;
  border-radius: 0 0 40px 40px;
  padding: 32px 16px 32px 16px;
  gap: 12px;

}

.card-img {
  width: 160px;
  height: 160px;
  margin: 7px 68px 7px 68px;
}

.card-info__name {
  color: white;
  font-weight: bold;
  font-size: 20px;
}

.card-info__user {
  display: flex;
  align-items: center;
  gap: 8px;
}

.card-info__cost {
  color: var(--primary);
  font-weight: bold;
  font-size: 20px;
}

.card-info__time {
  color: var(--gray-middle);
  font-weight: bold;
  font-size: 20px;
}

.auction-list__card {
  background-color: var(--grey-light);

}

.username--white {
  color: white;
  font-weight: bold;

}

.auction-list__inner {
  display: grid;
  box-sizing: content-box;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 32px;
}

.auction-list__button {
  margin-top: 32px;
  border: 5px solid var(--primary);
  background-color: #d1303000;
  align-self: center;
}

.auction-list__button:hover {
  background-color: var(--primary);

}

.auction-list__button:active {
  border-color: var(--primary-active);
  background-color: var(--primary-active);

}

.section__auction-list {
  display: flex;
  width: fit-content;
  flex-direction: column;
}

.timer {
  display: flex;
  gap: 26px;
}
.timer__number-item {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.timer-number {
  font-size: 48px;
}

.sticker-cost__text-header {
  font-weight: bold;
  width: fit-content;
}
.cost-crypt {
  font-weight: bold;
  font-size: 48px;
  width: fit-content;

}
.cost-translate {
  font-weight: bold;
  color: var(--gray-middle);
  width: fit-content;
}


.slider{
  margin-top: 32px;
  background-color: black;
}
.slider__inner {
  display: flex;
  flex-direction: column;
  padding-top: 90px;
  padding-bottom: 90px;
}
.slider-header{
  display: flex;
  align-items: center;
  gap: 16px;
}
.slider__text-header {
  width: fit-content;
  margin-top: 10px;
  color: white;
}

.slides__item {
  display: flex;
  gap: 28px;
}

.slider__pagination {
  display: flex;
  gap: 20px;
  align-self: center;
  margin-top: 32px;
}

.pagination__item {
  border: 2px solid var(--red);
  border-radius: 40px;
  padding: 10px 24px 10px 24px;
  color: white;
  font-weight: bold;
  transition: ease .2s;
  user-select: none;
  cursor: pointer;
}

.pagination__item--active {
  background-color: var(--red);
}

.form-subscribe{
  background-color: var(--red);
  color: white;

}

.form-subscribe__inner{
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  width: fit-content;
  gap: 16px;
}

.form-subscribe__input{
  border: 5px solid black;
  border-radius: 40px;
  color: white;
  background-color: black;
  font-size: 20px;
  padding: 25px 0 25px 32px;
  transition: ease .2s;
}
.form-subscribe__input::placeholder {
  color: white;
}
.form-subscribe__input:focus {
  color: black;
  background-color: rgba(0, 0, 0, 0);
}
.form-subscribe__input:focus-visible {
  outline: none;
}

/* Footer */
.footer {
  display: flex;
  flex-direction: column;
  background-color: black;
}

.footer__inner {
  box-sizing: border-box;
  position: relative;
  background-color: var(--primary);
  padding: 20px 320px 20px 320px;
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.footer__menu-link:hover {
  filter: opacity(50%);

}

.footer__menu-link:active {
  filter: opacity(30%)
}

.footer__menu {
  display: flex;
  gap: 32px;
  justify-self: end;
  align-self: center;
}
.copyright {
  align-self: center;
  color: white;
}

:focus-visible {
  outline: 2px  solid #57D272 ;
}